<%- include('partials/header/header.ejs'); %>

    <body class="animsition">
        <div class="page-wrapper">
            <%- include('partials/nav_bar/nav.ejs'); %>
                <%- include('partials/nav_bar/nav_mobile.ejs'); %>
                    <%- include('./partials/nav_bar/nav_mobile_bottom.ejs'); %>
                    <!-- END HEADER MOBILE -->

                    <!-- PAGE CONTENT-->
                    <div class="page-content--bgf7">
                        <!-- BREADCRUMB-->
                        <section class="au-breadcrumb2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="au-breadcrumb-content">
                                            <div class="au-breadcrumb-left">
                                                <span class="au-breadcrumb-span">You are here:</span>
                                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                                    <li class="list-inline-item active">
                                                        <a href="#">Home</a>
                                                    </li>
                                                    <li class="list-inline-item seprate">
                                                        <span>/</span>
                                                    </li>
                                                    <li class="list-inline-item">Dashboard</li>
                                                </ul>
                                            </div>
                                            <form class="au-form-icon--sm" action="" method="post">
                                                <input class="au-input--w300 au-input--style2" type="text"
                                                    placeholder="Search for datas &amp; reports...">
                                                <button class="au-btn--submit2" type="submit">
                                                    <i class="zmdi zmdi-search"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- END BREADCRUMB-->

                        <!-- WELCOME-->
                        <%- include('./partials/welcome/welcome.ejs'); %>
                        <!-- END WELCOME-->

                        <%- include('partials/card/box.ejs'); %>

                            <!-- STATISTIC CHART-->
                            <section class="statistic-chart">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 class="title-5 m-b-35">statistics</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-4">
                                            <!-- CHART-->
                                            <div class="statistic-chart-1">
                                                <h3 class="title-3 m-b-30">chart</h3>
                                                <div class="chart-wrap">
                                                    <canvas id="widgetChart5"></canvas>
                                                </div>
                                                <div class="statistic-chart-1-note">
                                                    <span class="big">10,368</span>
                                                    <span>/ 16220 items sold</span>
                                                </div>
                                            </div>
                                            <!-- END CHART-->
                                        </div>
                                        <div class="col-md-6 col-lg-4">
                                            <!-- TOP CAMPAIGN-->
                                            <div class="top-campaign">
                                                <h3 class="title-3 m-b-30">top campaigns</h3>
                                                <div class="table-responsive">
                                                    <table class="table table-top-campaign">
                                                        <tbody>
                                                            <tr>
                                                                <td>1. Australia</td>
                                                                <td>$70,261.65</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2. United Kingdom</td>
                                                                <td>$46,399.22</td>
                                                            </tr>
                                                            <tr>
                                                                <td>3. Turkey</td>
                                                                <td>$35,364.90</td>
                                                            </tr>
                                                            <tr>
                                                                <td>4. Germany</td>
                                                                <td>$20,366.96</td>
                                                            </tr>
                                                            <tr>
                                                                <td>5. France</td>
                                                                <td>$10,366.96</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- END TOP CAMPAIGN-->
                                        </div>
                                        <div class="col-md-6 col-lg-4">
                                            <!-- CHART PERCENT-->
                                            <div class="chart-percent-2">
                                                <h3 class="title-3 m-b-30">chart by %</h3>
                                                <div class="chart-wrap">
                                                    <canvas id="percent-chart2"></canvas>
                                                </div>
                                                <div class="chart-info">
                                                    <div class="chart-note">
                                                        <span class="dot dot--green"></span>
                                                        <span>Approved</span>
                                                    </div>
                                                    <div class="chart-note">
                                                        <span class="dot dot--red"></span>
                                                        <span>Denied</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END CHART PERCENT-->
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- END STATISTIC CHART-->
                            
                                    <!-- Request Approval List-->
                                    <section class="p-t-20">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3 class="title-5 m-b-35">Waiting For Approval</h3>
                                                    <div class="table-data__tool">
                                                        <div class="table-data__tool-left">
                                                            <div class="rs-select2--light rs-select2--md">
                                                                <select class="js-select2" name="property">
                                                                    <option selected="selected">All Properties</option>
                                                                    <option value="">Option 1</option>
                                                                    <option value="">Option 2</option>
                                                                </select>
                                                                <div class="dropDownSelect2"></div>
                                                            </div>
                                                            <div class="rs-select2--light rs-select2--sm">
                                                                <select class="js-select2" name="time">
                                                                    <option selected="selected">Today</option>
                                                                    <option value="">3 Days</option>
                                                                    <option value="">1 Week</option>
                                                                </select>
                                                                <div class="dropDownSelect2"></div>
                                                            </div>
                                                            <button class="au-btn-filter">
                                                                <i class="zmdi zmdi-filter-list"></i>filters</button>
                                                        </div>
                                                    </div>
                                                    <div class="table-responsive table-responsive-data2">
                                                        <table class="table table-data2 text-center">
                                                            <thead>
                                                                <tr>
                                                                    <th>Requested By</th>
                                                                    <th>assign</th>
                                                                    <th>email</th>
                                                                    <th>date Created</th>
                                                                    <th>form</th>
                                                                    <th>status</th>
                                                                    <th>requestor</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <!-- request && modal Loop start -->
                                                                <% if(reqForms && reqForms.length > 0) { %>
                                                                    <% for (let i = 0; i < reqForms.length; i++) { %>
                                                                        <% const reqForm = reqForms[i]; %>
                                                                        <% if(reqForm.status === 'process') { %>
                                                                            <% const user = users.find(user => user._id.toString() === reqForm.userId.toString()); %>
                                                                            <% if(user) { %>
                                                                                <!-- Include the partial template -->
                                                                                <%- include('partials/request_form/admin_single_form.ejs', { reqForm: reqForm, user: user }); %>
                                                                            <% } %>
                                                                        <% } %>
                                                                    <% } %>
                                                                <% } else { %>
                                                                    <p>No requests found.</p>
                                                                <% } %>
                                                                <!-- request && modal Loop end -->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- END request Approval list TABLE-->

                                    <% if (reqForms && reqForms.length > 0 && reqForms.some(reqForm => reqForm.status === 'approved')) { %>
                                    <!-- all Request start-->
                                    <section class="p-t-50">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3 class="title-5 m-b-35">Approved Request</h3>
                                                    <div class="table-data__tool">
                                                        <div class="table-data__tool-left">
                                                            <div class="rs-select2--light rs-select2--md">
                                                                <select class="js-select2" name="property">
                                                                    <option selected="selected">All Properties</option>
                                                                    <option value="">Option 1</option>
                                                                    <option value="">Option 2</option>
                                                                </select>
                                                                <div class="dropDownSelect2"></div>
                                                            </div>
                                                            <div class="rs-select2--light rs-select2--sm">
                                                                <select class="js-select2" name="time">
                                                                    <option selected="selected">Today</option>
                                                                    <option value="">3 Days</option>
                                                                    <option value="">1 Week</option>
                                                                </select>
                                                                <div class="dropDownSelect2"></div>
                                                            </div>
                                                            <button class="au-btn-filter">
                                                                <i class="zmdi zmdi-filter-list"></i>filters</button>
                                                        </div>
                                                    </div>
                                                    <div class="table-responsive table-responsive-data2">
                                                        <table class="table table-data2 text-center">
                                                            <thead>
                                                                <tr>
                                                                    <th>Requested By</th>
                                                                    <th>assign</th>
                                                                    <th>email</th>
                                                                    <th>date approved</th>
                                                                    <th>form</th>
                                                                    <th>status</th>
                                                                    <th>requestor</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <!-- request && modal Loop start -->
                                                                <% if(reqForms && reqForms.length > 0) { %>
                                                                    <% for (let i = 0; i < reqForms.length; i++) { %>
                                                                        <% const reqForm = reqForms[i]; %>
                                                                        <% if(reqForm.status === 'approved') { %>
                                                                            <% const user = users.find(user => user._id.toString() === reqForm.userId.toString()); %>
                                                                            <% if(user) { %>
                                                                                <!-- Include the partial template -->
                                                                                <%- include('partials/request_form/admin_single_form_remove.ejs', { reqForm: reqForm, user: user }); %>
                                                                            <% } %>
                                                                        <% } %>
                                                                    <% } %>
                                                                <% } else { %>
                                                                    <p>No requests found.</p>
                                                                <% } %>
                                                                <!-- request && modal Loop end -->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- all Request end-->
                                    <% } %>

                                    <!-- request modal start -->
                                    <%- include('./partials/modal/modal_request.ejs', { vehicles:vehicles}); %>
                                        <!-- request modal end-->

                                                <%- include('./partials/modal/modal_vehicle.ejs'); %>

                                                    <!-- COPYRIGHT-->
                                                    <section class="p-t-60 p-b-20">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="copyright">
                                                                        <p>Copyright © 2018 Unknown. All rights
                                                                            reserved.
                                                                            Template by <a href="">Unknown</a>.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <!-- END COPYRIGHT-->
                    </div>
        </div>

        <%- include('partials/footer/footer.ejs'); %>