<% if (user && user.role==='creator' ) { %>
    <%- include('partials/header/header.ejs'); %>

<body class="animsition">
    <div class="page-wrapper">
        <%- include('partials/nav_bar/nav.ejs'); %>
            <%- include('partials/nav_bar/nav_mobile.ejs'); %>
                <%- include('./partials/nav_bar/nav_mobile_bottom.ejs'); %>
                <!-- END HEADER MOBILE -->

                <!-- PAGE CONTENT-->
                <div class="page-content--bgf7">
                    <!-- BREADCRUMB-->
                    <section class="au-breadcrumb2">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="au-breadcrumb-content">
                                        <div class="au-breadcrumb-left">
                                            <span class="au-breadcrumb-span">You are here:</span>
                                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                                <li class="list-inline-item active">
                                                    <a href="#">Home</a>
                                                </li>
                                                <li class="list-inline-item seprate">
                                                    <span>/</span>
                                                </li>
                                                <li class="list-inline-item">Dashboard</li>
                                            </ul>
                                        </div>
                                        <form class="au-form-icon--sm" action="" method="post">
                                            <input class="au-input--w300 au-input--style2" type="text"
                                                placeholder="Search for datas &amp; reports...">
                                            <button class="au-btn--submit2" type="submit">
                                                <i class="zmdi zmdi-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- END BREADCRUMB-->

                    <!-- WELCOME-->
                    <%- include('./partials/welcome/welcome.ejs'); %>
                    <!-- END WELCOME-->

                    <%- include('partials/card/box.ejs'); %>

                        
                        <!-- Request Approved Start-->
                        <% if(reqForms && reqForms.some(reqForm => ['approved', 'declined'].includes(reqForm.status))) { %>
                        <section class="p-t-20">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="title-5 m-b-35">Mayor Approval</h3>
                                        <div class="table-data__tool">
                                            <div class="table-data__tool-left">
                                                <div class="rs-select2--light rs-select2--md">
                                                    <select class="js-select2" name="property">
                                                        <option selected="selected">All Properties</option>
                                                        <option value="">Option 1</option>
                                                        <option value="">Option 2</option>
                                                    </select>
                                                    <div class="dropDownSelect2"></div>
                                                </div>
                                                <div class="rs-select2--light rs-select2--sm">
                                                    <select class="js-select2" name="time">
                                                        <option selected="selected">Today</option>
                                                        <option value="">3 Days</option>
                                                        <option value="">1 Week</option>
                                                    </select>
                                                    <div class="dropDownSelect2"></div>
                                                </div>
                                                <button class="au-btn-filter">
                                                    <i class="zmdi zmdi-filter-list"></i>filters</button>
                                            </div>
                                        </div>
                                        <div class="table-responsive table-responsive-data2">
                                            <table class="table table-data2 text-center">
                                                <thead>
                                                    <tr>
                                                        <th>Requested By</th>
                                                        <th>assign Name</th>
                                                        <th>email</th>
                                                        <th>Date Approved</th>
                                                        <th>form</th>
                                                        <th>status</th>
                                                        <th>requestor</th>
                                                        <% if(reqForm.status === 'process') { %>
                                                        <th>Actions</th>
                                                        <% } %>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- request && modal Loop start -->
                                                    <% if(reqForms && reqForms.length > 0) { %>
                                                        <% for (let i = 0; i < reqForms.length; i++) { %>
                                                            <% const reqForm = reqForms[i]; %>
                                                            <% if(reqForm.status === 'approved' || reqForm.status === 'declined') { %>
                                                                <% const user = users.find(user => user._id.toString() === reqForm.userId.toString()); %>
                                                                <% if(user) { %>
                                                                    <!-- Include the partial template -->
                                                                    <%- include('partials/request_form/creator_single_form_remove.ejs', { reqForm: reqForm, user: user }); %>
                                                                <% } %>
                                                            <% } %>
                                                        <% } %>
                                                    <% } else { %>
                                                        <p>No requests found.</p>
                                                    <% } %>
                                                    <!-- request && modal Loop end -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <% } %>
                        <!-- Request Approved End-->        
                        <!-- Request Process Start-->
                        <% if (reqForms && reqForms.length > 0 && reqForms.some(reqForm => reqForm.status === 'process')) { %>
                        <section class="p-t-50">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="title-5 m-b-35">Request Process</h3>
                                        <div class="table-data__tool">
                                            <div class="table-data__tool-left">
                                                <div class="rs-select2--light rs-select2--md">
                                                    <select class="js-select2" name="property">
                                                        <option selected="selected">All Properties</option>
                                                        <option value="">Option 1</option>
                                                        <option value="">Option 2</option>
                                                    </select>
                                                    <div class="dropDownSelect2"></div>
                                                </div>
                                                <div class="rs-select2--light rs-select2--sm">
                                                    <select class="js-select2" name="time">
                                                        <option selected="selected">Today</option>
                                                        <option value="">3 Days</option>
                                                        <option value="">1 Week</option>
                                                    </select>
                                                    <div class="dropDownSelect2"></div>
                                                </div>
                                                <button class="au-btn-filter">
                                                    <i class="zmdi zmdi-filter-list"></i>filters</button>
                                            </div>
                                        </div>
                                        <div class="table-responsive table-responsive-data2">
                                            <table class="table table-data2 text-center">
                                                <thead>
                                                    <tr>
                                                        <th>Requested By</th>
                                                        <th>assign Name</th>
                                                        <th>email</th>
                                                        <th>date</th>
                                                        <th>form</th>
                                                        <th>status</th>
                                                        <th>requestor</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- request && modal Loop start -->
                                                    <% if(reqForms && reqForms.length > 0) { %>
                                                        <% for (let i = 0; i < reqForms.length; i++) { %>
                                                            <% const reqForm = reqForms[i]; %>
                                                            <% if(reqForm.status === 'process') { %>
                                                                <% const user = users.find(user => user._id.toString() === reqForm.userId.toString()); %>
                                                                <% if(user) { %>
                                                                    <!-- Include the partial template -->
                                                                    <%- include('partials/request_form/creator_single_form_remove.ejs', { reqForm: reqForm, user: user }); %>
                                                                <% } %>
                                                            <% } %>
                                                        <% } %>
                                                    <% } else { %>
                                                        <p>No requests found.</p>
                                                    <% } %>
                                                    <!-- request && modal Loop end -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <% } %>
                        <!-- Request Process End-->
                            
                        <!-- Request List-->
                        <section class="p-t-80">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="title-5 m-b-35">Requesting Form</h3>
                                        <div class="table-data__tool">
                                            <div class="table-data__tool-left">
                                                <div class="rs-select2--light rs-select2--md">
                                                    <select class="js-select2" name="property">
                                                        <option selected="selected">All Properties</option>
                                                        <option value="">Option 1</option>
                                                        <option value="">Option 2</option>
                                                    </select>
                                                    <div class="dropDownSelect2"></div>
                                                </div>
                                                <div class="rs-select2--light rs-select2--sm">
                                                    <select class="js-select2" name="time">
                                                        <option selected="selected">Today</option>
                                                        <option value="">3 Days</option>
                                                        <option value="">1 Week</option>
                                                    </select>
                                                    <div class="dropDownSelect2"></div>
                                                </div>
                                                <button class="au-btn-filter">
                                                    <i class="zmdi zmdi-filter-list"></i>filters</button>
                                            </div>
                                        </div>
                                        <% if (reqForms && reqForms.length > 0 && reqForms.some(reqForm => reqForm.status === 'pending')) { %>
                                        <div class="table-responsive table-responsive-data2">
                                            <table class="table table-data2 text-center">
                                                <thead>
                                                    <tr>
                                                        <th>Requested By</th>
                                                        <th>assign</th>
                                                        <th>email</th>
                                                        <th>date</th>
                                                        <th>form</th>
                                                        <th>status</th>
                                                        <th>requestor</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- request && modal Loop start -->
                                                    <% if(reqForms && reqForms.length > 0) { %>
                                                        <% for (let i = 0; i < reqForms.length; i++) { %>
                                                            <% const reqForm = reqForms[i]; %>
                                                            <% if(reqForm.status === 'pending') { %>
                                                                <% const user = users.find(user => user._id.toString() === reqForm.userId.toString()); %>
                                                                <% if(user) { %>
                                                                    <!-- Include the partial template -->
                                                                    <%- include('partials/request_form/creator_single_form.ejs', { reqForm: reqForm, user: user }); %>
                                                                <% } %>
                                                            <% } %>
                                                        <% } %>
                                                    <% } else { %>
                                                        <p>No requests found.</p>
                                                    <% } %>
                                                    
                                                    <!-- request && modal Loop end -->
                                                </tbody>
                                            </table>
                                        </div>
                                        <% } else{ %>
                                            <p class="text-center"> No Request Found</p>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- END DATA request list TABLE-->

                                <!-- request modal start -->
                                <%- include('./partials/modal/modal_request.ejs', { vehicles:vehicles}); %>
                                    <!-- request modal end-->

                                    <!-- Vechicles List-->
                                    <section class="p-t-70">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3 class="title-5 m-b-35">Vechicles</h3>
                                                    <div class="table-data__tool">
                                                        <div class="table-data__tool-left">
                                                            <div class="rs-select2--light rs-select2--md">
                                                                <select id="categorySelect" class="js-select2" name="property" onchange="filterVehicles()">
                                                                    <option  value="All Categories" >All Categories
                                                                    </option>
                                                                    <option value="Motorcycle Vehicles">Motorcycle</option>
                                                                    <option value="Military Vehicles">Military</option>
                                                                    <option value="Heavy Equipment Vehicles">Heavy Equipment</option>
                                                                    <option value="4-Wheel Vehicles">4-Wheel</option>
                                                                </select>
                                                                <div class="dropDownSelect2"></div>
                                                            </div>
                                                            <div class="rs-select2--light rs-select2--sm">
                                                                <select id="statusSelect" class="js-select2" name="time" onchange="filterVehicles()">
                                                                    <option value="All Status">All Status</option>
                                                                    <option value="available">Available</option>
                                                                    <option value="deployed">Deployed</option>
                                                                    <option value="process">Process</option>
                                                                    <option value="not available">N/A</option>
                                                                </select>
                                                                <div class="dropDownSelect2"></div>
                                                            </div>
                                                            <button class="au-btn-filter">  <i class="zmdi zmdi-filter-list"></i>filters</button>
                                                        </div>
                                                        <div class="table-data__tool-right">
                                                            <button
                                                                class="au-btn au-btn-icon au-btn--green au-btn--small"
                                                                data-toggle="modal" data-target="#createVehicle">
                                                                <i class="zmdi zmdi-plus"></i>add Car</button>
                                                        </div>
                                                    </div>
                                                    <% if(vehicles && vehicles.length > 0) { %>
                                                        <div class="table-responsive table-responsive-data2">
                                                            <table id="vehicleTable" class="table table-data2 text-center">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Assign Personel</th>
                                                                        <th>brand</th>
                                                                        <th>category</th>
                                                                        <th>type</th>
                                                                        <th>model</th>
                                                                        <th>status</th>
                                                                        <th>Actions</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <% vehicles.forEach(vehicle=> { %>
                                                                        <%- include('./partials/vehicle/creator_single_vehicle.ejs', {vehicle: vehicle}); %>
                                                                    <% }); %>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <% } else { %>
                                        <p class="text-center">No Vehicles Available.</p>
                                        <% } %>
                                        
                                            <!-- END DATA TABLE-->
                                    
                                            <%- include('./partials/modal/modal_vehicle.ejs'); %>


                                                <!-- COPYRIGHT-->
                                                <section class="p-t-60 p-b-20">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="copyright">
                                                                    <p>Copyright © 2018 Unknown. All rights
                                                                        reserved.
                                                                        Template by <a href="">Unknown</a>.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                <!-- END COPYRIGHT-->
                </div>
    </div>
    <%- include('partials/footer/footer.ejs'); %>
        <% } %>