<tr class="tr-shadow">
    <%if(vehicle.driver) {%>
    <td><%= vehicle.driver %></td>
    <% }else{ %>
        <td>N/A</td>
        <% } %>
    <td><%= vehicle.brand %></td>
    <td class="desc"><%= vehicle.category %></td>
    <td class="desc"><%= vehicle.type %></td>
    <td><%= vehicle.model %></td>
    <td><span class="status--<%= vehicle.status %>"><%= vehicle.status %></span></td>
    <td>
        <form action="" method="post">
            <div class="table-data-feature text-center justify-content-center">
                <% if(vehicle.status === 'available'){ %>
                <button class="item" data-toggle="tooltip"
                    data-placement="top" title="Edit">
                    <i class="zmdi zmdi-edit"></i>
                </button>
                <button class="item" data-toggle="tooltip"
                    data-placement="top" title="Delete">
                    <i class="zmdi zmdi-delete"></i>
                </button>
            </div>
        </form>
        <% } else if(vehicle.status === 'process'){ %>
            <p>Waiting For Approval</p>
        <% } else if(vehicle.status === 'deployed'){ %>
            <p>Waiting End Contract</p>
        <% } %>
    </td>
</tr>