<tr class="tr-shadow">
    <%if(vehicle.driver) {%>
    <td><%= vehicle.driver %></td>
    <% }else{ %>
        <td>N/A</td>
        <% } %>
    <td><%= vehicle.brand %></td>
    <td class="desc"><%= vehicle.category %></td>
    <td class="desc"><%= vehicle.type %></td>
    <td><%= vehicle.model %></td>
    <td>2018-09-27 02:12</td>
    <td><span class="status--<%= vehicle.status %>"><%= vehicle.status %></span></td>
    <td>
        <div class="table-data-feature">
            <button class="item" data-toggle="tooltip"
                data-placement="top" title="Send">
                <i class="zmdi zmdi-mail-send"></i>
            </button>
            <button class="item" data-toggle="tooltip"
                data-placement="top" title="Edit">
                <i class="zmdi zmdi-edit"></i>
            </button>
            <button class="item" data-toggle="tooltip"
                data-placement="top" title="Delete">
                <i class="zmdi zmdi-delete"></i>
            </button>
            <button class="item" data-toggle="tooltip"
                data-placement="top" title="More">
                <i class="zmdi zmdi-more"></i>
            </button>
        </div>
    </td>
</tr>